<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mainproject.plantdiseasedetection_tflite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mainproject.plantdiseasedetection_tflite.ui.HistoryActivity"></activity>
        <activity
            android:name="com.mainproject.plantdiseasedetection_tflite.ui.DetailActivity"
            android:parentActivityName="com.mainproject.plantdiseasedetection_tflite.ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mainproject.plantdiseasedetection_tflite.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>